body{
    margin: 0;
}
.navbar{
    width: 100%;
    height: 100px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #15214a;
    position: fixed;
}
.img{
    width: 150px;
    height: 42px;
}
.input{
    width: 700px;
    font-size: 15px;
    height: 50px;
    font-weight: 1000;
    border: none;
    border-radius: 5px;
    outline: 0;
    margin-left: 25px;
    
    background-image: url('img/search.png');
    background-position: 10px 15px;
    background-repeat: no-repeat;
    padding-left: 40px;
}
.istanbul{
    background-color: #15214a;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 17px;
    margin-left: 40px;
}
.log-out-icon{
    
   margin-left: 200px;
   margin-bottom: -4px;
}
.log-out-text{
    background-color: #15214a;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 12px;
    display: inline-block;
    
}
.car{
    background-color: #6D26F2;
    width: 80px;
    height: 80px;
    display: inline-block;
    border-radius: 50%;
    margin-left: 250px;
    margin-top: 150px;
}
.car-icon{
    margin-left: 23px;
    margin-top: 25px;
    width: 40px;
    height: 40px;
    background-position: center;
    background-size: cover;
}
.elec{
    background-color: #F9CC4B;
    width: 80px;
    height: 80px;
    display: inline-block;
    margin-right: 55px;
    border-radius: 50%;
    margin-left: 55px;
}
.elec-icon{
    margin-left: 23px;
    margin-top: 25px;
    width: 40px;
    height: 40px;
    background-position: center;
    background-size: cover;
}
.build{
    background-color: #41A957;
    width: 80px;
    height: 80px;
    display: inline-block;
    margin-right: 55px;
    border-radius: 50%;
    margin-left: 0px;
    
}
.build-icon{
    margin-left: 26px;
    margin-top: 25px;
    width: 40px;
    height: 40px;
    background-position: center;
    background-size: cover;
}
.couch{
    background-color: #00D9B1;
    width: 80px;
    height: 80px;
    display: inline-block;
    margin-right: 55px;
    border-radius: 50%;
    margin-left: 0px;
}
.couch-icon{
    margin-left: 23px;
    margin-top: 25px;
    width: 40px;
    height: 40px;
    background-position: center;
    background-size: cover;
}
.fitnes{
    background-color:#3CD9FF ;
    width: 80px;
    height: 80px;
    display: inline-block;
    margin-right: 55px;
    border-radius: 50%;
    margin-left: 0px;
}
.fitnes-icon{
    margin-left: 27px;
    margin-top: 25px;
    width: 40px;
    height: 40px;
    background-position: center;
    background-size: cover;
}
.books{
    background-color: #CE52C9;
    width: 80px;
    height: 80px;
    display: inline-block;
    margin-right: 55px;
    border-radius: 50%;
    margin-left: 0px;
    
}
.books-icon{
    margin-left: 26px;
    margin-top: 25px;
    width: 40px;
    height: 40px;
    background-position: center;
    background-size: cover;
}
.handtools{
    background-color: #0053F9;
    width: 80px;
    height: 80px;
    display: inline-block;
    margin-right: 55px;
    border-radius: 50%;
    margin-left: 0px;
}
.handtools-icon{
    margin-left: 27px;
    margin-top: 25px;
    width: 40px;
    height: 40px;
    background-position: center;
    background-size: cover;
}
.shop{
    background-color: #F82535;
    width: 80px;
    height: 80px;
    display: inline-block;
    margin-right: 55px;
    border-radius: 50%;
    margin-left: 0px;
}
.shop-icon{
    margin-left: 27px;
    margin-top: 25px;
    width: 40px;
    height: 40px;
    background-position: center;
    background-size: cover;
}
.dress{
    background-color: #BECA00 ;
    width: 80px;
    height: 80px;
    display: inline-block;
    margin-right: 55px;
    border-radius: 50%;
    margin-left: 0px;
}   
.dress-icon{
    margin-left: 27px;
    margin-top: 25px;
    width: 40px;
    height: 40px;
    background-position: center;
    background-size: cover;
}
.football{
    background-color: #00EDFF;
    width: 80px;
    height: 80px;
    display: inline-block;
    margin-right: 55px;
    border-radius: 50%;
    margin-left: 0px;
}
.football-icon{
    margin-left: 27px;
    margin-top: 25px;
    width: 40px;
    height: 40px;
    background-position: center;
    background-size: cover;
}
.icon-under{
    display: inline-block;
    text-align: center;
    padding-left: 32px;
    padding-right: 30px;
}
.icon-text{
    text-align: center;
    font-size: 15px;
    margin-top: 30px;
}
.mainimg{
    margin-top: 40px;
    margin-left: 230px;
    border-radius: 15px;
    width: 1370px;
    display: inline-block;
}
.imagebutton{
    width: 10px;
    height: 10px;
    background-color: aliceblue;
    list-style-type: none;
    text-align: center;
    margin-left: 435px;
    margin-top: -50px;
    border-radius: 50%;
    border:none;
    cursor: pointer;
}
.underimage{
    display: flex;
    justify-content: space-between;
}
.underimagetext{
    margin-block-end: 16px;
    margin-top: 50px;
}
.underimagetext-h1{
    margin-left: 230px;
    font-size: 16px;
}
.underimagetext-p{
    color: rgb(184, 188, 200);
    margin-left: 230px;
    margin-top: -10px;
    font-size: 13px;
}
.buttons{
    display: flex;
    margin-right: 280px;
    margin-top: 70px;
}
.leftbutton{
    padding-right: 20px;
    border-radius: 50%;
}
.next-button{
    background-color: #15214a;
    color: #fff;
    font-size: 13px;
    width: 30px;
    height: 30px;
    border-radius: 40px;
    border: none;
    cursor: pointer;
}
.product-1{
    width: 320px;
    height: 500px;
    border-radius: 5%;
    background-color: #fff;
    margin-left: 230px;
    display: block;
    border: 1px;
    border-style: solid ;
    border-color: rgb(231, 232, 236);
    
}
.product-2{
    width: 320px;
    height: 500px;
    border-radius: 5%;
    background-color: #fff;
    display: block;
    margin-left: 570px;
    margin-top: -500px;
    border: 1px;
    border-style: solid ;
    border-color: rgb(231, 232, 236);
}
.product-3{
    width: 320px;
    height: 500px;
    border-radius: 5%;
    background-color: #fff;
    display: block;
    margin-left: 910px;
    margin-top: -500px;
    border: 1px;
    border-style: solid ;
    border-color: rgb(231, 232, 236);
}
.product-4{
    width: 320px;
    height: 500px;
    border-radius: 5%;
    background-color: #fff;
    display: block;
    margin-left: 1250px;
    margin-top: -500px;
    border: 1px;
    border-style: solid ;
    border-color: rgb(231, 232, 236);
}
.uygunaArabaimage{
    display: block;
    width: 283px;
    height: 141px;
    margin-left: 20px;
    margin-top: 15px;
    border-radius: 15px;
}
.uygunaSameh2-1{    
    width: max-content;
    height: max-content;
    margin-block-end: 11px;
    padding-block: 12px;
    padding-inline: 16px;
    color: rgb(21, 33, 74);
    background-color: rgba(21, 33, 74, 0.1);
    display: flex;
    margin-left: 20px;
    text-align: center;
    font-size: 14px;
    font-weight:1000 ;
    border-radius: 50px;
}
.uygunaSameh2-2{
    margin-left: 20px;
    font-size: 15px;
}
.uygunaSameh2-3{
    margin-left: 20px;
    font-size: 12px;
    margin-top: -5px;
}
.star-same{
    width: 120px;
    height: 25px;
    margin-left: 17px;
}
.product-1-hr{
    border-top: 1px solid rgb(231, 232, 236);
    display: block;
    margin-left: 10px;
    margin-right: 10px;
}
.uygunaSameh2-4{
    margin-left: 20px;
    font-size: 13px;
}
.uygunaSameh2-5{
    margin-left: 20px;
    font-size: 15px;
}
.accicon{
    display: flex;
    margin-left: 20px;
    font-size: 12px;
}
.uygunaArabap-1{
    display: flex;
    margin-left: 70px;
    font-size: 12px;
    margin-top: -30px;
}
.uygunaArabah2-6{
    display: flex;
    margin-left: 70px;
    font-size: 12px;
    margin-top: -8px;
}
.uygunaAraba-a{
    text-decoration: none;
}
.detail{
    width: 283px;
    height: 48px;
    text-align: center;
    font-size: 17px;
    background-color: #15214a;
    color: #fff;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-weight: 700;
    margin-left: 20px;
    transition: 0.7s;
}
.detail:hover{
    background-color: #213269; 
}

.uygunaKaravanimage{
    display: block;
    width: 283px;
    height: 141px;
    margin-left: 20px;
    margin-top: 15px;
    border-radius: 15px;
}
.product-2-hr{
    border-top: 1px solid rgb(231, 232, 236);
    display: block;
    margin-left: 10px;
    margin-right: 10px;
}
.accicon{
    display: flex;
    margin-left: 20px;
    font-size: 12px;
}
.uygunaKaravanp-1{
    display: flex;
    margin-left: 70px;
    font-size: 12px;
    margin-top: -30px;
}
.uygunaKaravanh2-6{
    display: flex;
    margin-left: 70px;
    font-size: 12px;
    margin-top: -8px;
}
.uygunaKaravan-a{
    text-decoration: none;
}

.uygunaTekneimage{
    display: block;
    width: 283px;
    height: 141px;
    margin-left: 20px;
    margin-top: 15px;
    border-radius: 15px;
}
.uygunaTekneh2-1{
    width: max-content;
    height: max-content;
    margin-block-end: 11px;
    padding-block: 12px;
    padding-inline: 16px;
    color: rgb(21, 33, 74);
    background-color: rgba(21, 33, 74, 0.1);
    display: flex;
    margin-left: 20px;
    text-align: center;
    font-size: 14px;
    font-weight:1000 ;
    border-radius: 50px;
}
.uygunaTeknep-1{
    display: flex;
    margin-left: 70px;
    font-size: 12px;
    margin-top: -30px;
}
.uygunaTekneh2-6{
    display: flex;
    margin-left: 70px;
    font-size: 12px;
    margin-top: -8px;
}
.uygunaTekne-a{
    text-decoration: none;
}

.uygunaYatimage{
    display: block;
    width: 283px;
    height: 141px;
    margin-left: 20px;
    margin-top: 15px;
    border-radius: 15px;
}
.uygunaYatp-1{
    display: flex;
    margin-left: 70px;
    font-size: 12px;
    margin-top: -30px;
}
.uygunaYath2-6{
    display: flex;
    margin-left: 70px;
    font-size: 12px;
    margin-top: -8px;
}
.uygunaYat-a{
    text-decoration: none;
}
.comment{
    width: 1340px;
    height: 550px;
    margin-left: 230px;
    margin-right: 230px;
    border-radius: 2%;
    border: 1px;
    border-style: solid;
    border-color: rgb(231, 232, 236);
    margin-top: 70px;
}
.comment-left{
    width: 550px;
    display: inline-block;
}
.comment-image{
    margin-top: 200px;
    margin-left: 200px;
}
.comment-text-1{
    margin-left: 200px;
}
.comment-text-2{
    margin-left: 200px;
}
.comment-line{
    width: 0px;
    height: 500px;
    border: 1px solid rgb(231, 232, 236) ;
    margin-left: 700px;
    margin-top: -340px;
}
.comment-right{
    width: 1300px;
    font-size: 13px;
}
.comment-name{
    margin-left: 800px;
    margin-top: -350px;
    color: #15214a;
}
.comment-job{
    margin-left: 800px;
    margin-top: -10px;
    color: #15214a;
}
.comment-text-person{
    margin-left: 800px;
}
.leftbutton-comment{
    padding-right: 20px;
    border-radius: 50%;
}
.buttons-comment{
    display: flex;
    margin-right: 280px;
    margin-top: 30px;
    margin-left: 800px;
}
