body{
    margin: 0;
}
.navbar{
    width: 100%;
    height: 120px;
    background-color: #21367e;  
    
}
.logo{
    width: 150px;
    margin-left: 230px;    
    margin-top: 25px;
    display: inline-block;
    
}
.search{
    width: 20px;
    height: 20px;
    
    
}
.yazi{
    width: 800px;
    font-size: 15px;
    height: 40px;
    font-weight: 1000;
    border: none;
}

.ist{
    background-color: #21367e;
    border: none;
    color: white;
    cursor: pointer;
    margin-left: 20px;
    margin-right: 160px;
    font-size: 20px;
}
.signin-icon{
   width: 15px;
   height: 15px;
}
.signin{
    background-color: #21367e;
    border: none;
    color: white;
    cursor: pointer;
    margin-top: 30px;
}
.car{
    background-color: #6D26F2;
    width: 80px;
    height: 80px;
    display: inline-block;
    border-radius: 50%;
    margin-left: 250px;
    margin-top: 50px;
}
.car-icon{
    margin-left: 23px;
    margin-top: 25px;
    width: 40px;
    height: 40px;
    background-position: center;
    background-size: cover;
}
.elec{
    background-color: #F9CC4B;
    width: 80px;
    height: 80px;
    display: inline-block;
    margin-right: 55px;
    border-radius: 50%;
    margin-left: 55px;
}
.elec-icon{
    margin-left: 23px;
    margin-top: 25px;
    width: 40px;
    height: 40px;
    background-position: center;
    background-size: cover;
}
.build{
    background-color: #41A957;
    width: 80px;
    height: 80px;
    display: inline-block;
    margin-right: 55px;
    border-radius: 50%;
    margin-left: 0px;
    
}
.build-icon{
    margin-left: 26px;
    margin-top: 25px;
    width: 40px;
    height: 40px;
    background-position: center;
    background-size: cover;
}
.couch{
    background-color: #00D9B1;
    width: 80px;
    height: 80px;
    display: inline-block;
    margin-right: 55px;
    border-radius: 50%;
    margin-left: 0px;
}
.couch-icon{
    margin-left: 23px;
    margin-top: 25px;
    width: 40px;
    height: 40px;
    background-position: center;
    background-size: cover;
}
.fitnes{
    background-color:#3CD9FF ;
    width: 80px;
    height: 80px;
    display: inline-block;
    margin-right: 55px;
    border-radius: 50%;
    margin-left: 0px;
}
.fitnes-icon{
    margin-left: 27px;
    margin-top: 25px;
    width: 40px;
    height: 40px;
    background-position: center;
    background-size: cover;
}
.books{
    background-color: #CE52C9;
    width: 80px;
    height: 80px;
    display: inline-block;
    margin-right: 55px;
    border-radius: 50%;
    margin-left: 0px;
    
}
.books-icon{
    margin-left: 26px;
    margin-top: 25px;
    width: 40px;
    height: 40px;
    background-position: center;
    background-size: cover;
}
.handtools{
    background-color: #0053F9;
    width: 80px;
    height: 80px;
    display: inline-block;
    margin-right: 55px;
    border-radius: 50%;
    margin-left: 0px;
}
.handtools-icon{
    margin-left: 27px;
    margin-top: 25px;
    width: 40px;
    height: 40px;
    background-position: center;
    background-size: cover;
}
.shop{
    background-color: #F82535;
    width: 80px;
    height: 80px;
    display: inline-block;
    margin-right: 55px;
    border-radius: 50%;
    margin-left: 0px;
}
.shop-icon{
    margin-left: 27px;
    margin-top: 25px;
    width: 40px;
    height: 40px;
    background-position: center;
    background-size: cover;
}
.dress{
    background-color: #BECA00 ;
    width: 80px;
    height: 80px;
    display: inline-block;
    margin-right: 55px;
    border-radius: 50%;
    margin-left: 0px;
}   
.dress-icon{
    margin-left: 27px;
    margin-top: 25px;
    width: 40px;
    height: 40px;
    background-position: center;
    background-size: cover;
}
.football{
    background-color: #00EDFF;
    width: 80px;
    height: 80px;
    display: inline-block;
    margin-right: 55px;
    border-radius: 50%;
    margin-left: 0px;
}
.football-icon{
    margin-left: 27px;
    margin-top: 25px;
    width: 40px;
    height: 40px;
    background-position: center;
    background-size: cover;
}
.icon-under{
    display: inline-block;
    text-align: center;
    padding-left: 32px;
    padding-right: 30px;
}
.icon-text{
    text-align: center;
    font-size: 15px;
    margin-top: 30px;
}
.mainimg{
    margin-top: 90px;
    margin-left: 230px;
    border-radius: 15px;
    width: 1370px;
    display: inline-block;
}
.imagebutton{
    list-style-type: none;
    text-align: center;
    margin-left: -50px;
    margin-top: -60px;
    border-radius: 20%;
    border:none;
    cursor: pointer;
}